.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #004d13e5;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    z-index: 999;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
}

.seperator {
    padding: 0 0.5rem;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in-out;
}

a:hover{
    color: rgba(255, 255, 255, 0.6);
}