.createPlanForm {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}

.createPlanForm form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
}
.createPlanForm input {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #4d4c4c;
    border-radius: 5px;
    flex-grow: 1;
    /* min-width: 200px; */
}
.createPlanForm button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #004d13e5;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.createPlanForm button:hover {
    background-color: #00691f;
}

@media screen and (max-width: 600px) {

    .createPlanForm input,
    .createPlanForm button {
        width: 100%;
    }
}