.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchComponentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    /* margin-left: -20px; center items */
}
.resultItem{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    width: fit-content;
}
.resultItem img{
    max-width: 30vw;
    margin-bottom: 20px;
    border-radius: 5px;
}
.resultLink{
    text-decoration: none;
    color: inherit;
}
.resultItem:hover{ /* change BG color when result card is hovered over*/
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    transform: scale(1.01);
    transition: transform 0.3s ease;
}
.resultItem:hover img{
    filter: brightness(0.9);
    transition: filter 0.5s ease;
    transform: scale(1.001);
    transition: transform 0.3s ease;
}

@media screen and (max-width: 480px){
    .resultsList{
        flex-direction: column;
    }
    .resultItem img{
        max-width: 80vw;
    }
}
