.mealPlanContent {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    color: #222;
}


.mealPlanContent h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.mealPlanContent section {
    margin-bottom: 30px;
}

.mealPlanContent h3 {
    font-size: 1.2rem;
    font-weight: 600;
    border-left: 4px solid #004d13;
    padding-left: 10px;
}

/* flex wrap for meals per day */
.mealRow {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}


/* Individual meal card */
.mealCard {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
    width: 200px;
    position: relative;
}

.mealCard:hover {
    transform: scale(1.02);
    background-color: #f8f8f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.mealImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;
}

.mealTitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0 0 10px 0;
}

.recipeLink {
    text-decoration: none;
    color: inherit;
}


.renameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.renameInput {
    padding: 6px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
}

.renameButton {
    padding: 6px  12px;
    font-size: 0.95rem;
    background-color: #004d13;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.renameButton:hover {
    background-color: #003f10;
}

.daySection {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}


/* Remove button */
.removeButton {
    background-color: crimson;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 0.85rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.removeButton:hover {
    background-color: darkred;
}

@media screen and (max-width: 600px) {
    .mealCard {
        width: 100%;
    }

    .realImage {
        height: 200px;
    }
}