.searchContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchContainer form {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 10x;
    box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    justify-content: center;
}

.searchContainer label {
    font-size: 1.1rem;
    font-weight: 500;
}

.searchContainer input {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #4d4c4c;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 200px;
}

.searchContainer button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #004d13e5;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.searchContainer button:hover {
    background-color: #00691f;
}

@media screen and (max-width: 600px) {
    .searchContainer form {
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .searchContainer input,
    .searchContainer button {
        width: 100%;
    }
}