body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin:0;
  padding:0;
  background-color: rgba(0, 0, 0, 0.171);
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
main{
  display: flex;
  justify-content: center;
  
}
/* increase font size for phone screens*/ 
/*@media screen and (max-width: 375px) { 
  body {

  }
}

/* font-size: 1.3em; */