.plansContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divider {
    border: none;
    height: 5px;
    background-color: black;
    margin-bottom: 20px;
    width: 80%;

  }
.noPlans{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.planCard{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}
.planCard button{
    gap: 10px;
}
.cardButtons{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
}
.createPlanButton{
    margin-top: 20px;
}
.plansContainer button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #004d13e5;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.plansContainer button:hover {
    background-color: #00691f;
}
